doctype html
head
  title Treemap
  link(href='treemap.css',rel='stylesheet')
body
    #workspace
        #infos
            #labels
                #location.info
                #subdir.info
                #name.info
                #size.info
            #buttons
                #up.button ..
        #root
            .treemaptile#main
script(src='//code.jquery.com/jquery-3.1.1.min.js')
script(src='treemap.js')
