@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

text_height = 16px
text_font_size = 12px
text_count = 4
infos_height = text_count * text_height

button_height = infos_height
button_margin = 2px
button_padding = button_margin
button_text_height = button_height - 2 * button_margin - 2 * button_padding
button_font_size = 20px

body
    position fixed
    top 0
    bottom 0
    left 0
    right 0

standard-font()
    font-family Calibri, 'Open Sans', sans-serif
    font-weight 600

.treemaptile
    display block
    background-color #444
    position absolute
    border 1px solid rgba(0,0,0,0.1)
    box-sizing border-box

.treemaptile.first_level
    opacity 0.4
    
.treemaptile.first_level:hover
    border 1px solid red
    opacity 1
    
#workspace
#root
#infos
#labels
#buttons
.button
    position absolute
    top 0
    bottom 0
    left 0
    right 0

#infos
    height infos_height

.info
    height text_height
    font-size text_font_size
    width 100%
    standard-font()

#labels
    right infos_height
    
#buttons
    left auto
    width button_height
    
.button
    margin button_margin
    border 1px solid #bbb
    background-color #eee
    border-radius 5px
    cursor pointer
    padding button_padding
    text-align center
    vertical-align middle
    line-height button_text_height
    font-size button_font_size
    text-overflow ellipsis
    standard-font()
    
#root
    top infos_height
    background-color #444

    
